{% extends "layout.html" %}

{% block content %}
    <br>
        <div class='row'>
            <div class="col-lg-6">
                <h2>Strona do nauki słówek w języku angielskim</h2>
                <br>
                <h5>
                    <p>Wszystkie materiały pochodzą z ogólnodostępnych źródeł.</p>
                    <p>Głównym źródłem słówek jest np. słownik polsko-angielski.<br>
                    Inspiracją do powstania strony jest portal ingless.pl https://www.ingless.pl/artykul/slownictwo-na-poziomie-c1/  
                    </p>
                    <p>Wykorzystane grafiki objęte są pozwoleniem na niekomercyjne wykorzystanie.<br>
                    Źródłem grafik jest portal pixabay.com </p>
                </h5>
            </div>
            <div class="col-lg-6">
               <img src="../static/images/thanks.jpg">
            </div>
        </div>

{% endblock %}
