{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if request.method == 'POST' %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages  %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div> 
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label for="pol" class="form-label">Punkty</label>
                <input class="form-control" type="text" placeholder='{{ points }} / {{ max_points }}' readonly>
            </div> 
        </div>
        <br>
        <div class="row">
            <form method="GET" action="">
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label for="pol" class="form-label">Słówko w języku polskim</label>
                            <input class="form-control" type="text" placeholder='{{ pol1 }}' readonly>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <label for="eng" class="form-label">Tłumaczenie</label>
                <form method="POST">
                    <input class="form-control" type="text" name="tlumaczenie"><br>
                    <p><input type="submit" class="btn btn-primary"></p>
                </form>
            </div>
        </div>
    </div>  
{% endblock %}